.venv/*
.DS_Store
*.pyc
build/*
dist/*
ccdexplorer_fundamentals.egg-info/dependency_links.txt
ccdexplorer_fundamentals.egg-info/PKG-INFO
ccdexplorer_fundamentals.egg-info/requires.txt
ccdexplorer_fundamentals.egg-info/SOURCES.txt
ccdexplorer_fundamentals.egg-info/top_level.txt
build/*
.env
settings.json
requirements.dev.txt